@mixin border-radius($deg) {
    -moz-border-radius: $deg;
    -webkit-border-radius: $deg;
    border-radius: $deg;
}


$color-hover: #D5E0E4;

$color-primary-0: #27586B;	
$color-primary-1: #D5E0E4;
$color-primary-2: #638A99;
$color-primary-3: #052D3D;
$color-primary-4: #000B0F;




* {
    box-sizing: border-box;
    color: #fff;
}


.button-add {
    background-color: $color-primary-3;
    border-color: $color-primary-3;
    &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus, &:active {
        outline-color: $color-primary-3;
        color: #fff;
    }
    &:hover {
        outline-color: $color-primary-3;
        color: $color-hover;
    }
}
.button-delete {
    background-color: transparent;
    border-color: transparent;
    &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus, &:active {
        outline-color: $color-primary-3;
        color: #fff;
    }
    &:hover {
        outline-color: $color-primary-3;
        color: $color-hover;
    }
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.board {
    width: 1200px;
    min-height: 300px;
    margin: 10px auto;
    @include border-radius(10px);
    background-color: $color-primary-2;
    padding: 20px;
    h1 {
        font-size: 30px;
    }
    .create-column {
        top: 20px;
        right: 20px;
    }
    .column-container {
        width: 100%;
        margin: 0 auto;
    }
}

.column {
    border: 4px solid $color-primary-2;
    background-color: $color-primary-0;
    @include border-radius(10px);
    padding: 10px;
    .column-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
    }
    .column-card-list {
        list-style-type: none;
        padding: 0;
        min-height: 20px;
        li {
            height: 100px;
            background-color: $color-primary-1;
            @include border-radius(10px);
            padding: 10px 40px 10px 10px;
            width: 90%;
            margin: 10px auto;
            color: $color-primary-4;
            .button-delete:hover {
                color: $color-primary-0;
            }
            .card-description {
                color: $color-primary-4;
            }
        }
        .card-placeholder {
            background-color: transparent;
            border: 2px dashed $color-primary-1;
        }
    }
    .btn-delete {
        top:10px;
        right: 10px;
    }
    .add-card {
        
    }
}