@mixin border-radius($deg) {
    -moz-border-radius: $deg;
    -webkit-border-radius: $deg;
    border-radius: $deg;
}

$color-board: #0395A9;
$color-column: #027C8D;
$color-card: #0395A9;
$color-button: #015A66;
$color-placeholder: #00DDFC;
$color-hover: #00DDFC;


* {
    box-sizing: border-box;
    color: #fff;
}


.button-add {
    background-color: $color-button;
    border-color: $color-button;
    &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus, &:active {
        outline-color: $color-button;
        color: #fff;
    }
    &:hover {
        outline-color: $color-button;
        color: $color-hover;
    }
}
.button-delete {
    background-color: transparent;
    border-color: transparent;
    &.active.focus, &.active:focus, &.focus, &:active.focus, &:active:focus, &:focus, &:active {
        outline-color: $color-button;
        color: #fff;
    }
    &:hover {
        outline-color: $color-button;
        color: $color-hover;
    }
}

.absolute {
    position: absolute;
}
.relative {
    position: relative;
}
.board {
    width: 1200px;
    min-height: 300px;
    margin: 10px auto;
    @include border-radius(10px);
    background-color: $color-board;
    padding: 20px;
    h1 {
        font-size: 30px;
    }
    .create-column {
        top: 20px;
        right: 20px;
    }
    .column-container {
        width: 100%;
        margin: 0 auto;
    }
}

.column {
    border: 4px solid $color-board;
    background-color: $color-column;
    @include border-radius(10px);
    padding: 10px;
    .column-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
    }
    .column-card-list {
        list-style-type: none;
        padding: 0;
        min-height: 20px;
        li {
            height: 100px;
            background-color: $color-card;
            @include border-radius(10px);
            padding: 10px 40px 10px 10px;
            width: 90%;
            margin: 10px auto;
            .card-description {
            }
        }
        .card-placeholder {
            background-color: transparent;
            border: 2px dashed $color-placeholder;
        }
    }
    .btn-delete {
        top:10px;
        right: 10px;
    }
    .add-card {
        
    }
}